<launch>
    <!-- Log all topics -->
    <node pkg="rosbag" type="record" name="my_rosbag" output="screen" 
          args="record -o /home/prabhat/hovercraft_ws/bagfiles/recording --all"/>
    
    <!-- Data streaming from OptiTrack (192.168.1.100)-->
    <include file="$(find vrpn_client_ros)/launch/sample.launch">
        <arg name="server" default="192.168.1.100" />
    </include>

    <!-- Communication with hovercraft-->
    <node name="sender" pkg="ground" type="sender.py" />

    <!-- Controller -->
    <node name="controller" pkg="ground" type="controller.py" output="screen">
        <param name="controller_freq" value="50" />
    </node>

    <!-- Dynamic reconfigure gui -->
    <node name="reconfigure" pkg="rqt_gui" type="rqt_gui" output="screen"
	args="-s reconfigure"/>
    
    <!-- rqt_multiplot   
    <node name="plot" pkg="rqt_multiplot" type="rqt_multiplot" output="screen" />
    -->
</launch>
