<launch>
    <!-- Log all topics -->
    <node pkg="rosbag" type="record" name="my_rosbag" output="screen" 
          args="record -o /home/prabhat/hovercraft_ws/bagfiles/data_id --all"/>
    
    <!-- Data streaming from OptiTrack (192.168.1.100)-->
    <include file="$(find vrpn_client_ros)/launch/sample.launch">
        <arg name="server" default="192.168.1.100" />
    </include>

    <!-- Convert pose from OptiTrack and write into new topic-->
    <node name="converter" pkg="ground" type="converter.py" />

    <!-- Communication with hovercraft-->
    <node name="sender" pkg="ground" type="sender.py" />

    <!-- Identification procedure-->
    <node name="controller" pkg="ground" type="controller.py" output="screen">
        <param name="identification_freq" value="10" />
    </node>

    <!-- rqt_multiplot     -->
    <node name="plot" pkg="rqt_multiplot" type="rqt_multiplot" output="screen" />

</launch>
